// Place all the styles related to the signalvisual controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.spindle-table {
  font: 14px sans-serif;
  margin: 0;
  overflow: auto;
}

.modal.large {
  width: 100%;
}

.modal-wide .modal-dialog {
  width: 80%; /* or whatever you wish */
}

.modal-open{
  overflow: auto!important;
}

@media screen and (min-width: 768px) {
  #setting_modal .modal-dialog  {width:100%;}
}

.fancy-fa:hover{
  zoom:3!important;
}

.area {
  fill: #e7e7e7;
}

text {
  font-family: FontAwesome, sans-serif;
}

.axis text {
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	fill: #83D6DE;
}

.axis1 text {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  fill: #83D6DE;
}

.yaxis text {
  font-size: 11px !important; 
}

.yaxis1 text {
  font-size: 11px!important; 
}


.circle-text{
  font-size: 14px;
}

.axis_sleep text {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  fill: #83D6DE;
}

.yaxis-text{
	font-size: 15px;
	font-weight: bold;
	fill: black !important;
}



.grid .tick {
  stroke: #83D6DE;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}
.grid path {
    stroke-width: 0;
    fill: #83D6DE;
}

.grid text{
		font-size: 13px;
		fill: #83D6DE;
		font-family: sans-serif;
		stroke-width: 1px;
}


.overlay {
  fill: #AAB69B;
  pointer-events: all;
  opacity: 0.15;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.signal_text_tag{
  height: 15px; 
  padding: 8px 4px 8px 1px;
  width: 100% !important;
  font-size: 12px;
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  border-color: #8fa8f6;
}


.signal_text_tag_input{
  height: 15px; 
  padding: 8px 4px 8px 1px;
  width: 100% !important;
  font-size: 12px;
  background: #fff;
  border: 1px solid;
  border-radius: 3px;
  border-color: #8fa8f6;
}

.signal_tag_text{
  font-size: 10px;
  opacity: 0.3;
}

.axis path,
.axis line, 
.axis1 path,
.axis1 line,
.axis_sleep path,
.axis_sleep line{
  fill: none;
  stroke: #E6E7E8;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}

.x.axis path{
  display: none;
}

.line {
  fill: none;
  stroke-width: 0.5px;
}

.legend-box {
  cursor: pointer;  
}

#mouse-tracker {
  stroke: #E6E7E8;
  stroke-width: 0.5px;
}

.hover-line { 
  stroke: #E6E7E8;
  fill: none;
  stroke-width: 0.5px;
  left: 10px;
  shape-rendering: crispEdges;
  opacity: 1e-6;
}

.hover-text {
  stroke: none;
  font-size: 30px;
  font-weight: bold;
  fill: #000000;
}

.tooltip {
  font-weight: normal;
}

.guide-line line{
  stroke: #7CEECE;
  stroke-width: 1.5px;
  opacity: 0.6;
}

.guide-line text{
  fill: #000;
  opacity: 0.9;
  cursor: pointer;
}

.tr-all td{
  font-size: 14px;
}

.sig.glyphicon{
  zoom: 1.7;
}

.hide {
  display: none
}

label.viewStyled {
  background-color: #ecf0f1;
  display: block;
  width: 150px;
  text-align: left;
  padding: 0.3em 3.5em;
  color: #3498db;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

label.viewStyled:before {
  content: '✓';
  line-height: 23px;
  font-size: 18px;
  color: #fff;
  width:30px;
  height:100%; 
  background-color: #8FA8F6;
  position: absolute;
  padding-left:7px;
  top:0;
  left:100%;
  transition: all 0.4s ease;
  opacity: 0;
  border-right: 2px solid #fff;
}

label.viewStyled:hover:before {
  left: 98%;
  opacity: .3;
}

input.viewStyled {
  display: none;
}

/* :: CHECKED :: */
input.viewStyled:checked ~ label.viewStyled {
  background-color: #3498db;
  color: #fff;
  animation: throw 0.5s linear;
}
input.viewStyled:checked ~ label.viewStyled:before {
  left:0px;
  opacity: 1;
}
@keyframes throw {
   0%,63% {margin-left: 0;}
}

.viewer_style {
  font-size: 12px;
}

.annotation-tip {
  line-height: 1;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.add_anno_modal{
  padding-top: 10px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .15;
  shape-rendering: crispEdges;
}

.x-brush .background{
  visibility: visible !important;
  opacity: 0.1;
}

.brush .selection {
  fill: #7BB0A6;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 4px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 6px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: pointer;
}

.handle {
  fill: #fff;
  stroke: #83D6DE;
  stroke-opacity: 0.8;
  stroke-width: 6px;
}

.live_ctrl_fontawesome{
  fill: #83D6DE;
}



.ruler-background {
    fill: #ddd;
  }

.ruler line {
  stroke: #fff;
}

.ruler .minor line {
  stroke-opacity: .5;
  stroke: red;
}

.ruler .minor-minor line {
  stroke-opacity: .5;
  stroke: blue;
}

.ruler text {
  display: none;
}

.ruler-axis line {
  stroke: #fff;
}

.ruler-axis text {
  fill: #000;
  font-size: 12px;
}

.ruler-axis path,
.ruler path {
  display: none;
}


div.anno-tooltip { 
    position: absolute;     
    text-align: center;     
    width: auto;          
    height: auto;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #ecf0f1; 
    border: 0px;    
    border-radius: 3px;     
    pointer-events: none;     
}
