// Place all the styles related to the spindles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.num_text{
  padding: 0px 5px 0px 5px;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  background-color: rgba(9,132,227,0.8);
  color: #fff;
  text-align: center;
}
