<% flash.each do |type, message| %>
  <% if message.is_a?(String) %>
    <div class="alert-message alert <%= bootstrap_class_for(type) %> ">
      <button class="close" data-dismiss="alert">×</button>
      <%= message %>
    </div>
  <% end %>
<% end %>